<footer class="page-footer blue-grey  darken-4">
  <div class="container center-align">
    <div class="row">
      <div class="col l12 s12">
        <h5 class="green-text">AdventureMemos</h5>
        <p class="grey-text text-lighten-4">Share your Adventures with the world</p>
        <a class="grey-text text-lighten-3" href="/about"><i class="fas fa-question-circle green-text"></i> About
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container center">
      © 2019 Georgi Priporski
    </div>
  </div>
</footer>