<div class="container">
  <div class="card center">
    <div class="card-content green-text text-darken-4">
      <h1>About</h1>
      <p>Version: 1.0.0</p><br>
      <p>Info: Pure Node and Express fully functional app for sharing adventure stories with the public or to keep them
        private for yourself</p><br>
      <p>Author: Georgi Priporski</p>
    </div>
  </div>
</div>